button {
  display: block;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background-color: rgb(13 148 136);
  border-color: rgb(13 148 136);
  border-width: 1px;
  border-radius: 6px;
  white-space: nowrap;
  cursor: pointer;
}

button.disabled {
  color: rgb(0 0 0);
  background-color: rgb(149 165 166);
  border-color: rgb(149 165 166);
  cursor: default;
}
