.repository {
  border-top: 1px solid rgb(201 209 217);
  width: 100%;
  text-align: left;
}

.container {
  padding: 0 12px 24px 12px;
}

.sub-container {
  display: flex;
  gap: 20px;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 10px;
}

.metadata {
  display: flex;
  gap: 5px;
}

.metadata > span:first-child {
  font-weight: bold;
}
